<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <script 
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
</head>
<body>
    <!--헤더-->
    <header id="header">
        <div class="logo">
            <a href="#"></a><img src="{{ url_for('static', filename='img/res/logo_b.png') }}" alt="로고"></a>
        </div>
    </header> 
    <!--//헤더-->
    <!--콘텐츠-->
    <div class="word">
        <h1>X-Ray 영상을 통한 폐렴 여부 진단</h1>
        <span>파일을 업로드 하세요</span>
    </div>
    <div class="upload">
        <form action = "/result" method = "get"> 
            <input type="file" id="files" name="files" multiple>
            <input class="btn" type="submit" value="제출">
        </form>  
    </div>
    <!--//콘텐츠-->
    
</body>
</html>